<%-include('include/_header')%>
<link rel="stylesheet" href="/css/forAllPages.css" />
<link rel="stylesheet" href="/css/employee/addEmployee.css" />
<main class="main">
    <p>Adding New Employee</p>
    <%-include('forms/employeeForm.ejs')%>
</main>
<script type="module" src="/js/dynamic.js"></script>
