<%-include('include/_header')%>
<link rel="stylesheet" href="css/createDevice.css" />
<main class="main">
    <p>adding new furniture</p>
    <%-include('forms/addFurnitureForm.ejs')%>
</main>

<!-- <form
    method="post"
    action="/device/create-device"
    id="add-device"
    name="chooseDeviceForm"
>
    <div class="wrapper">
        <div class="select">
            <div class="select-tag">
                <label for="data">TYPE OF DEVICE:</label> <br />
                <select class="choose" id="choose" name="data">
                    <option value="laptop">laptop</option>
                    <option value="monitor">monitor</option>
                    <option value="keyboard">keyboard</option>
                    <option value="mouse">mouse</option>
                    <option value="headphones">headphones</option>
                    <option value="pc">pc</option>
                    <option value="tablet">tablet</option>
                </select>
            </div>
            <div class="adding">
                <h3 class="headerOfDevice"></h3>
            </div>
        </div>
        <div class="device-name">
            <label for="deviceName">NAME</label>
            <input
                type="text"
                class="device-name-input"
                id="deviceName"
                name="deviceName"
                autocomplete="off"
            />
        </div>
        <div class="id-sn-price">
            <div class="id">
                <label for="deviceID">ID</label> <br />
                <input
                    type="text"
                    class="id-input"
                    id="deviceID"
                    name="deviceID"
                    autocomplete="off"
                />
            </div>
            <div class="sn">
                <label for="deviceSN">SN</label> <br />
                <input
                    autocomplete="off"
                    type="text"
                    class="sn-input"
                    id="deviceSN"
                    name="deviceSN"
                    autocomplete="off"
                />
            </div>
            <div class="price">
                <label for="price">PRICE</label> <br />
                <input
                    type="text"
                    class="price-input"
                    id="price"
                    name="price"
                    autocomplete="off"
                />
            </div>
        </div>
        <div class="vendor">
            <label for="vendor">VENDOR</label> <br />
            <input
                type="text"
                class="vendor-input"
                id="vendor"
                name="vendor"
                autocomplete="off"
            />
        </div>
        <div class="choose-file">
            <div>
                <label for="file">ADD A FILE</label> <br />
                <input
                    class="file-input"
                    type="file"
                    name="file"
                    id="file"
                    accept=".doc, .docx , .pdf"
                />
            </div>
            <div>
                <label for="photo">ADD A PHOTO</label> <br />
                <input
                    class="photo-input"
                    type="file"
                    name="photo"
                    id="photo"
                    accept="image/*"
                />
            </div>
        </div>
        <label for="deviceCharacteristics">CHARACTERISTICS</label> <br />
        <textarea
            class="deviceCharacteristics"
            cols="30"
            rows="10"
            id="deviceCharacteristics"
            name="deviceCharacteristics"
        ></textarea>
        <label for="history">NOTES</label> <br />
        <textarea
            class="notes"
            name="notes"
            id=""
            cols="30"
            rows="10"
            id="history"
            name="history"
        ></textarea>
        <div class="assign-and-add">
            <div class="assignOrNot">
                <label for="employee">ASSIGN TO EMPLOYEE</label> <br />
                <select class="select-employee" name="employee" id="employee">
                    <option value="laptop">sardor</option>
                    <option value="monitor">javlon</option>
                    <option value="keyboard">qobil</option>
                    <option value="mouse">jamshid</option>
                </select>
            </div>
            <button class="button-submit" type="sumbit">add device</button>
        </div>
    </div>
</form> -->
<%-include('include/_footer')%>

<script>
    let deviceSelect = chooseDeviceForm.data
    function changeOption() {
        let selection = document.querySelector('.headerOfDevice')
        let selectedOption = deviceSelect.options[deviceSelect.selectedIndex]
        selection.textContent = selectedOption.text
    }

    deviceSelect.addEventListener('change', changeOption)
</script>
