<!--Include header-->
<%-include('include/_header')%>
<!--Include header-->


<link rel="stylesheet" href="/css/createEmployee.css">
<main class="main">
    <h3 class="create-employee">create Employee</h3>
    <form action="" id="update-employee">
        <div class="new-employee">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="employee-id" placeholder="l001">
                    <label for="employee-id">employee ID</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="employee-name" placeholder="l001">
                    <label for="employee-name">full name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="employee-company" placeholder="l001">
                    <label for="employee-company">employee company</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="employee-department" placeholder="l001">
                    <label for="employee-department">department</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="employee-post" placeholder="l001">
                    <label for="employee-post">post</label>
                </div>

                
                <button type="button" class="btn btn-outline-success">save employee</button>
            </div>
        </div>
    </form>
</main>
<!--Include footer-->
<%-include('include/_footer')%>
<!--Include footer-->