<%-include('include/_header')%>
<link rel="stylesheet" href="/css/forAllPages.css" />
<link rel="stylesheet" href="/css/deviceOrfurniture.css" />
<div class="wrapper-main">
    <h3>SELECT A CATEGORY</h3>
    <div class="container1">
        <div class="wrapper">
            <div class="device">
                <a href="device/add-device">
                    <div class="img img-device">
                        <!-- <img src="/img/LAPTOPS.jpg" alt="" /> -->
                    </div>
                    <p class="text">device</p>
                </a>
            </div>
            <div class="furniture">
                <a href="/furniture/add-furniture">
                    <div class="img img-furniture">
                        <!-- <img src="/img/furniture.jpg" alt="" /> -->
                    </div>
                    <p class="text">furniture</p>
                </a>
            </div>
            <div class="employee">
                <a href="/employee-job/add-employee">
                    <div class="img img-employee">
                        <!-- <img src="/img/furniture.jpg" alt="" /> -->
                    </div>
                    <p class="text">employee</p>
                </a>
            </div>
        </div>
    </div>
</div>
<%-include('include/_footer')%>
