<!--Include header-->
<%-include('include/_header')%>
<!--Include header-->
<link rel="stylesheet" href="css/index.css" />
<main class="mainPage">
    <div class="text">
        <h2>ARCABASE</h2>
        <p>keep track of your data</p>
    </div>
    <div class="img">
        <img class="img" src="/img/man.gif" alt="" />
    </div>
</main>

<!--Include footer-->
<%-include('include/_footer')%>
<!--Include footer-->
