<%-include('include/_header')%>
<link rel="stylesheet" href="/css/universal/universal.css" />
<link rel="stylesheet" href="/css/forAllPages.css" />
<link rel="stylesheet" href="/css/allData/onlyDataPage.css" />

<div class="main">
    <div class="sortAndSearch">
        <div class="sort">
            <label for="sort">ПРОСМОТР:</label>
            <select name="sort" id="sort" class="sortClass">
                <option value="all">все</option>
                <option value="owner">имеющих владельца</option>
                <option value="sklad">в складе</option>
            </select>
        </div>
        <div class="search">
            <input
                type="text"
                placeholder="Search.."
                name="search"
                class="searchClass"
                autocomplete="off"
            />
            <button class="searchButton" type="button">search</button>
        </div>
    </div>
    <div class="tableMain">
        <table class="tableClass">
            <thead class="theadClass">
                <tr class="trThatIsFixed">
                    <th>№</th>
                    <th>name</th>
                    <th>ID</th>
                    <th>assigned</th>
                    <th>action</th>
                </tr>
            </thead>

            <tbody class="tbodyClass">
                <tr>
                    <td>1</td>
                    <td class="deviceName">
                        samsung galaxy flex alphf 9900 assigned by true false
                        corporation
                    </td>
                    <td>15151516516166516</td>
                    <td>Dadaboyev Sardor Valijon o'g'li</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td class="deviceName">
                        <a class="dataName" href="#"
                            >samsung galaxy flex alphf 9900</a
                        >
                    </td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="deviceName">samsung galaxy flex alphf 9900</td>
                    <td>0619</td>
                    <td>RICHFATHER</td>
                    <td>
                        <div class="action">
                            <a href="#">
                                <button class="actionButton editBtn">
                                    edit
                                </button></a
                            >
                            <a href="#"
                                ><button class="actionButton deleteBtn">
                                    delete
                                </button></a
                            >
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="tableFinish">конец таблицы</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<%-include('include/_footer')%>
