<!--Include header-->
<%-include('include/_header')%>
<!--Include header-->
<link rel="stylesheet" href="css/showEmployee.css">
  <div class="main">
    <h3>Employees</h3>
    <div class="card" style="width: 18rem;" >
  
      <img src="/img/sardor.jpg" class="card-img-top" alt="RASM YUKLANMADI" style="width: 18rem; ">
      <div class="card-body">
        <h5 class="card-title">DevOps's Participant</h5>
        <p class="card-text"><pre>
  name: Sardor
  surname: Dadaboyev
  department: IT
  post: web developer
  
        </pre></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>

<!--Include footer-->
<%-include('include/_footer')%>
<!--Include footer-->