<!--Include header-->
<%-include('include/_header')%>
<link rel="stylesheet" href="css/showDevice.css">
<!--Include header-->

<!--Main section-->
<%-include('include/deviceTable')%>

    <!-- <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                // i can add button named ("back to home page")


            </div>

            <form action="/" method="post">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>№</th>
                            <th>Device ID</th>
                            <th>Device Name</th>
                            <th>Owner</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </main> -->

<!--Main section-->



<!--Include footer-->
<%-include('include/_footer')%>
<!--Include footer-->