<%-include('include/_header')%>
<link rel="stylesheet" href="/css/forAllPages.css" />
<link rel="stylesheet" href="/css/allData/viewDataPage.css" />
<link rel="stylesheet" href="/css/universal/universal.css" />
<div class="main">
    <div class="wrapperOfData">
        <div class="device">
            <div class="obshiyCount">
                <div class="nameAndCount">
                    <p class="name">DEVICE</p>

                    <p class="count">105</p>
                </div>
                <hr />
            </div>
            <div>
                <!-- ! for siklni ni ichida bo'ladi  -->
                <div class="onlyAndCount">
                    <a href="/view-data/device/232">
                        <p class="name">laptop</p>
                    </a>
                    <p class="count">35</p>
                </div>
            </div>
        </div>
        <div class="furniture">
            <div>
                <div class="nameAndCount">
                    <p class="name">FURNITURE</p>
                    <p class="count">15</p>
                </div>
                <hr />
            </div>
            <div>
                <!-- ! for siklni ni ichida bo'ladi  -->
                <div class="onlyAndCount">
                    <a href="/view-data/chair">
                        <p class="name">chair</p>
                    </a>
                    <p class="count">60</p>
                </div>
            </div>
        </div>
        <div class="employee">
            <div>
                <div class="nameAndCount">
                    <p class="name">EMPLOYEE</p>
                    <p class="count">150</p>
                </div>
                <hr />
            </div>
            <div>
                <!-- ! for siklni ni ichida bo'ladi  -->
                <div class="onlyAndCount">
                    <a href="/view-data/sto">
                        <p class="name">sto</p>
                    </a>
                    <p class="count">50</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('include/_footer')%>
