<!-- <link rel="stylesheet" href="/css/footer-ejs.css" />
<section class="footer">
    <div class="buttons">
        <button>first</button>
        <button>second</button>
        <button>third</button>
        <button>fourth</button>
    </div>
</section> -->
